*{
	margin:0;
	padding:0;
}

#main
{
	text-align: center;
background-color:rgb(235, 235, 245);
}
.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgba(60, 15, 144, 0.616)!important;
    color: #ffffff!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(64, 64, 68)!important;
}